.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





.left {
  width: 20%;
  float: left;
  min-height: 1000px;
  background-color: #0ef;
}

.left .nav-link {
  color: black;
  font-weight: 600;
}

.left .nav-link:hover {
  color: gray;
}

.right {
  width: 80%;
  float: left;
}

.page {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-products {
  padding: 30px;
}

.subTitle {
  text-align: center;
  font-size: 50px;
}

.products-card-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.products-card-info img {
  height: 300px;
  width: 100%;
}


.single-product-info {
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.single-product-info img {
  height: 250px;
  width: 250px;
  border: 5px solid black;
  border-radius: 30px;
  padding: 10px;
}

.single-product-info hr {
  margin: 15px 0;
  border-bottom: 2px dotted black;
}